<div class="profile-wrapper">

    <div class="profile-header">
        <div class="cover-photo" style="background-image: url(<%= image_path("bg.png") %>)">
            &nbsp;
        </div>
        <div class="avatar">
            <% if !@user.avatar.blank? %>
                <img src="<%= @user.avatar %>">
            <% else %>
                <%= holder_tag '120x120' %>
            <% end %>
        </div>
        <div class="name">
            <h2>
                <%= @user.username %>
            </h2>
        </div>
        <div class="actions">

            <%= render_action_bar %>
            <%= render_friendship_bar %>
            <%= message_button(@user) %>

            <%= render_follow_button(@user) %>

        </div>


    </div>
    <div class="information-bar row">
        <div class="col-md-4">
            <h1>
                Follower: <%= render_follower_count %>
            </h1>
        </div>
        <div class="col-md-4">
            <h1>
                Followees: <%= render_followees_count %>
            </h1>
        </div>
        <div class="col-md-4">rofl</div>
    </div>

</div>