<h1>New Profile</h1>



<div class="loginBox">
  <header>
    <img src="<%= asset_path( 'cuboise.png' ) %>" />
    <h1><%= t('login')%></h1>
  </header>
  <%= form_for(@profile) do |f| %>
      <div class='form-group'>

      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>


</div>