
<div class="loginBox">
    <header>
        <img src="<%= asset_path( 'cuboise.png' ) %>" />
        <h1><%= t('register_title')%></h1>
    </header>

    <% resource.build_profile %>
    <%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'user_registration'}) do |f| %>
        <%= devise_error_messages! %>

        <%= f.fields_for :profile do |task_form| %>
            <div class="form-group">
                <%= task_form.text_field :username, placeholder: t('model.user.attribute.username'), class: 'form-control' %>
            </div>
        <% end %>
        <div class="form-group">
            <%= f.email_field :email, placeholder: t('model.user.attribute.email'), class: 'form-control'  %>
        </div>

        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: t('password'), class: 'form-control'  %>
        </div>

        <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('password_repeat'), class: 'form-control'  %>
        </div>
        <%= f.submit t('register_button'), class: 'btn btn-primary pull-right' %>
    <% end %>

    <footer>
        <%= link_to t('login'), root_path %>
    </footer>
</div>
