
<% if @new_calendar.errors.present? %>
    <%= render 'application/validation_errors', object: @new_calendar %>
<% end %>
<%= form_for @new_calendar, :url => calendar_fast_create_path(@new_calendar), html: {class: 'form-horizontal'} do |f| %>
    <div class="form-group">
        <div class="col-xs-12">
            <%= f.text_field :name, class: 'form-control', placeholder: :name %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-8">
            <%= f.text_field :color, class: 'form-control colorpicker', placeholder: :color %>

        </div>
      <div class="col-xs-4">
        <%= f.text_field :color, class: "form-control calendar-form-color-preview", name: 'calendar-form-color-preview', id: 'calendar-form-color-preview', disabled: true %>
      </div>
    </div>
    <%= link_to  t('form.buttons.cancel'), '#',class: 'btn btn-default left effect__click__close' %>
    <%= f.submit t('form.buttons.save'), class: 'btn btn-success right' %>
<% end %>