<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>Datejump:</strong>
  <%= @event.datejump %>
</p>

<p>
  <strong>Company:</strong>
  <%= @event.company %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @event.participant %>
</p>

<p>
  <strong>Extern:</strong>
  <%= @event.extern %>
</p>

<p>
  <strong>Service:</strong>
  <%= @event.service %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
