
<div class="loginBox">
    <header>
        <img src="<%= asset_path( 'cuboise.png' ) %>" />
        <h1><%= t('login')%></h1>
    </header>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='form-group'>
            <%= f.email_field :email, autofocus: true, placeholder: t('email'), class: 'form-control'%>
        </div>
        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: t('password'), class: 'form-control' %>
        </div>
        <%= f.submit t('login'), class: 'btn btn-primary pull-right'%>
    <% end %>

    <footer>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:twitter) %>
        <%= link_to t('forgot_password'), new_password_path(resource_name) %> | <%= link_to(t('register'), new_user_registration_path)  %>
    </footer>
</div>