<% if @room.errors.present? %>
    <%= render 'application/validation_errors', object: @room %>
<% end %>

<%= form_for @room, :html => {class: 'new_room_form'} do |f| %>
    <h2>Raum anlegen</h2>
    <li>
        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
    </li>
    <li>
        <%= f.text_field :shortcut, class: 'form-control', placeholder: "Shortcut" %>
    </li>
    <li>
        <%= f.file_field :attachment, class: 'form-control', placeholder: "Bild" %>
    </li>
    <div class="form-actions">
      <h3>
        <%= link_to 'Back', rooms_path %>
      </h3>
      <%= f.submit "Speichern", class: 'btn btn-primary' %>
    </div>
<% end %>
