<% if @category.errors.present? %>
    <%= render 'application/validation_errors', object: @category %>
<% end %>


<%= form_for @category, :html => {class: 'form-horizontal'} do |f| %>
    <div class="form-group">
        <%= f.label :name, class: 'control-label col-xs-2' %><br>

        <div class="col-xs-10">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <%= f.submit "Speichern", class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>
