<nav role="navigation" class="navbar top-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <%= image_tag("cuboise.png", :alt => "brand", class: 'logo') %>
        </a>
    </div>

    <div class="navbar-wrapper">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" id="collapse-sidemenu">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <li>
                <a href="<%= url_for visit_profile_path(:uuid => current_user.uuid) %>">
                    <em class="fa fa-user"></em>
                </a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <em class="fa fa-search"></em>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" id="notification-dropdown" aria-expanded="false">
                    <em class="fa fa-envelope"></em>
                    <%= count_unread_messages(current_user) %>
                </a>
                <ul class="notification-dropdown dropdown-menu animated flipInX" aria-labelledby="notification-dropdown">
                  <ul class="list-group">
                    <%= render :partial => 'social/conversations/header_conversation', :collection => current_user.mailbox.inbox, :as => :conversation %>
                  </ul>
                </ul>
            </li>
            <li>
                <a href="<%= url_for destroy_user_session_path%>">
                    <em class="fa fa-sign-out"></em>
                </a>
            </li>
        </ul>
    </div>

</nav>
