<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				Diko
			</a>
		</div>
		<% if user_signed_in? %>
			<div class="dropdown navbar-left">
				<button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Menu
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
                        <%= link_to('Startseite', cuboise_start_page_path, :method => :get) %>
					</li>
					<li role="presentation">
					</li>
					<li role="presentation">
					</li>
					<li role="presentation">
					</li>
					<li role="presentation">
					</li>
					<li role="presentation">
					</li>
					<% if current_user.admin? %>
						<li role="presentation">
                            <%= link_to('Konferenzraeume', rooms_path, :method => :get) %>
						</li>
						<li role="presentation">
                            <%= link_to('Kategorien', categories_path, :method => :get) %>
						</li>
					<% end %>
				</ul>
			</div>
			<p class="navbar-text navbar-link navbar-right" style="margin-left:5px">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</p>
			<p class="navbar-text navbar-right">
				<%= t('devise.sessions.signed_in_as') %> <%= link_to current_user.email, edit_user_registration_path %> |
			</p>
		<% else %>
            <p class="navbar-text navbar-link navbar-right">
                <%= link_to('Registrieren', new_user_registration_path)  %>
            </p>
			<p class="navbar-text navbar-link navbar-right">
			</p>
		<% end %>
	</div>
</nav>