<!DOCTYPE html>
<html>
<head>
  <title><%= t('page_title')%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
    <% if user_signed_in? %>
    <header>
        <%= render 'application/header_bar' %>
    </header>

    <aside class="aside">
        <%= render 'application/nav_bar' %>
    </aside>
    <% end %>
    <section>
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= (name == 'alert') ? 'danger' : 'success' %> alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= msg %>
                </div>
            <% end %>

            <%= yield %>
    </section>
    <footer>
        <span>Copyright Bemigho 2015</span>
    </footer>
</div>

</body>
</html>
